html {
  min-width: 300px;
}

body {
  overflow-y:scroll;
}

.wrapper.full-width-record {
  max-width: 2048px;
}

.edit-on-github {
  text-align: center;
  font-size: 12px;
}

article.post .post-content {
  font-family: serif;
  font-size: 20px;
}

#catalog ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#catalog ul li {
  float: left;
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  width: 100%;

  @media only screen and (min-width: 500px) {
    width: 50%;
  }

  @media only screen and (min-width: 850px) {
    width: 33%;
  }

  @media only screen and (min-width: 1150px) {
    width: 25%;
  }

  @media only screen and (min-width: 1350px) {
    width: 20%;
  }

  @media only screen and (min-width: 1500px) {
    width: 16.666%;
  }
}


@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(-50%) scale(0.0);
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.0);
  }
  50% {
    transform: translateX(-50%) translateY(-50%) scale(1.0);
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.0);
  }
}

#catalog .cover-tile:after, #catalog .cover-tile a:after {
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #222;
  opacity: 0;
  position: absolute;
  transition: 250ms;
  transition-timing-function: ease-out;
  filter: blur(5px);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#catalog .cover-tile.loading:after, #catalog .cover-tile.loading a:after {
  filter: blur(0px);
  opacity: 0.3;
  width: 15%;
  height: 15%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

#catalog .cover-tile.fadeout a:after {
  width: 100%;
  height: 100%;
}

#catalog .cover-tile.loading a:after {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

#catalog .cover-tile {
  a {
    display: flex;
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 5%;
    align-items: flex-end;
    overflow: hidden;
    margin: 2px;

    .dash {
      display: none;
    }
  }

  &.loaded a:after, &.loading-complete a:after, &.fallback-background a:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,0.1);
    border-radius: 0;
    filter: none;
    opacity: 0;
    transform: none;
    transition: 300ms;
    transition-timing-function: ease-in-out;
  }

  &.loaded a:hover:after, &.loading-complete a:after, &.fallback-background a:hover:after {
    opacity: 1;
    transition-duration: 600ms;
  }

  a {
    &:hover, &:active, &:visited {
      text-decoration: none;
    }
  }

  a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    filter: blur(0px);
    transform: scale(1);

    transition-duration: 500ms;
    transition-timing-function: ease-out;
    transition-property: filter, transform, opacity;
  }

  &.before-loading a:before {
    opacity: 0;
    transition-property: filter, transform;
  }

  &.loading a:before {
    opacity: 0;
    transition-property: filter, transform, opacity;
  }

  &.loaded a:before {
    opacity: 1;
    transition-property: filter, transform, opacity;
  }

  &.loading-complete a:before {
    opacity: 1;
    transition-property: filter, transform, opacity;
    transition-timing-function: cubic-bezier(0.050, 0.930, 0.290, 0.870);
    transition-duration: 15000ms;
  }

  &:hover a:before {
    filter: blur(5px);
    transform: scale(1.5);
    transition-duration: 5000ms;
  }

  div {
    position: relative;
    z-index: 1;
  }

  span {
    margin-top: 5px;
    background: rgba(0,0,0,0.5);
    padding: 2px 5px;
    display: table;
    border: 1px solid rgba(255,255,255,0.1);
    color: #fff;
    font-family: sans-serif;
  }
}