---
layout: plain
---
{%- if site.data.collection -%}
<style type="text/css">
    {%- for release in site.data.collection -%}
    {%- if release.cover_image -%}
    #discogs-release-{{ release.id }} > a:before {
        background-image: url('{{ release.cover_image }}');
    }
    {% endif %}
    {% endfor %}
</style>
{%- endif -%}

<div class="wrapper">
<div class="content">
{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}
</div>
</div>

{% if site.data.collection %}
<div class="wrapper full-width-record">
  <div id="catalog">
      <ul>
          {% for release in site.data.collection %}
          <li data-discogs-id="{{ release.id }}" class="cover-tile fallback-background" id="discogs-release-{{ release.id }}">
              <a target="_blank" href="https://www.discogs.com/release/{{ release.id }}">
                  <div>
                      <span>{{ release.artist}}</span>
                      <span class="dash">-</span>
                      <span>{{ release.title }}</span>
                  </div>
              </a></li>
          {% endfor %}
      </ul>
  </div>
</div>
{%- endif -%}

{%- if site.data.collection -%}
<script type="text/javascript">
  (function() {
    var images = {{ site.data.collection | jsonify }};

    images.forEach(function(a) {
      var elm = document.getElementById('discogs-release-' + a.id);
      elm.className = 'cover-tile before-loading';
      var loadingStarted = setTimeout(function() {
        loadingStarted = true;
        elm.className = 'cover-tile loading';

        var bgImg = new Image();
        bgImg.onload = function(){
          if (loadingStarted === true) {
            elm.className = 'cover-tile fadeout';
            setTimeout(function() {
              elm.className = 'cover-tile loaded';
              setTimeout(function() {
                elm.className = 'cover-tile loading-complete';
              }, 500);
            }, 400);
          } else {
            clearTimeout(loadingStarted);
          }
        };
        bgImg.src = a.cover_image;
      }, 100);
    });
  })();
</script>
{%- endif -%}
